/* General */

html, body {
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	flex-wrap: wrap;
	font-family: Verdana;
	font-size: 90%;
}

/* Items */

.box {
	background-color: white;
	margin: 15px;
	margin-bottom: 0;
}

.box .title {
	color: white;
	background-color: gray;
	height: 30px;
	text-align: center;
	line-height: 30px;
	vertical-align: center;
}

.box .content {
	padding: 5px;
}

/* Panels */

.title-panel {
	color: white;
	background-color: black;
	flex-basis: 250px;
	height: 60px;
	text-align: center;
	vertical-align: center;
	line-height: 60px;
	font-size: 150%;
}

.top-panel {
	background-color: grey;
	flex-grow: 1;
	flex-basis: calc(100% - 400px);
}

.user-panel {
	color: white;
	background-color: black;
	flex-basis: 150px;
	text-align: center;
}

.search-panel {
	background-color: salmon;
	flex-basis: 250px;
	height: calc(100% - 60px);
}

.results-panel {
	background-color: white;
	flex-basis: 800px;
	height: calc(100% - 60px);
	overflow-y: auto;
}

.hotel-panel {
	background-color: DarkTurquoise;
	flex-grow: 1;
}

/* Top panel */

.top-panel .nb-results {
	vertical-align: center;
	line-height: 60px;
	font-size: 120%;
	padding-left: 15px;
}

/* User panel items */

.user-panel .user {
	height: 30px;
	vertical-align: center;
	line-height: 30px;
}

.user-panel .button {
	height: 30px;
	background-color: red;
	vertical-align: center;
	line-height: 30px;
}

.user-panel .button:hover {
	cursor: pointer;
}

/* Search panel items */

.search-panel .content {
	font-size: 80%;
}

.search-panel .button {
	margin: 15px;
	margin-bottom: 0;
	width: 220px;
	flex-basis: 45px;
}

.search-panel form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.search-panel .quantity {
	color: red;
	float: right;
}

.search-panel .deps .content {
	overflow-y: auto;
	height: 255px;
}

/* Results panel */

.results-panel table {
	font-size: 80%;
    border-collapse: collapse;
    width: 100%;
    max-height: 800px;
}

.results-panel td {
	text-align: center;
	padding-right: 10px;
}

.results-panel tr {
	height: 30px;
}

.results-panel tr:nth-child(even) {
	background-color: #f2f2f2
}

/* Hotel panel */

.hotel-panel .box {
	height: calc(100% - 30px);
}